<div class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col-4">
      <form class="row g-3">
        <div class="col-auto">
          <label for="staticEmail2">Login</label>
          <input
            type="text"
            name="login"
            [(ngModel)]="admin.login"
            class="form-control"
            id="staticEmail2"
            placeholder="admin@gmail.com"
          />
        </div>
        <div class="col-auto">
          <label for="inputPassword2">Password</label>
          <input
            type="password"
            name="pass"
            [(ngModel)]="admin.mdp"
            class="form-control"
            id="inputPassword2"
            placeholder="Password"
          />
        </div>
        <br />
        <div class="md-col-5">
          <button type="button" (click)="create()" class="btn btn-success mb-3">
            s'inscrire
          </button>
          
        </div>
      </form>
      <br />
    </div>
    <div class="col"></div>
  </div>
</div>
